<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streams</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <a href="{{ url_for('index') }}">
            <h1>🧲🎬 Realm</h1>
        </a>

        {% if error %}
        <div class="error">{{ error }}</div>
        {% endif %}

        {% if movie %}
        <h2>{{ movie.title }} ({{ movie.year }})</h2>

        {% if movie.poster %}
        <img src="{{ movie.poster }}" alt="{{ movie.title }}" style="width:200px; border-radius: 8px;">
        {% endif %}

        {% endif %}

        <h3>{{ imdb_id }}</h3>
        {% if is_series %}
        <div>Season: {{ season }} | Episode: {{ episode }}</div>
        {% endif %}

        {% if streams %}
        <div class="results">
            {% for stream in streams %}
            <div class="stream">
                <h4>{{ stream.get('name', 'No Name') }}</h4>
                {% set title = stream.get('title', 'No Title') %}
                <div class="breakline"><b>Title:</b> {{ title.split('👤')[0].strip() }}</div>

                {% if '👤' in title %}
                <div>👤{{ title.split('👤')[1].split('💾')[0].strip() }}</div>
                {% else %}
                <div>👤 N/A</div>
                {% endif %}


                {% if '💾' in title %}
                <div>💾{{ title.split('💾')[1].split('⚙️')[0].strip() }}</div>
                {% else %}
                <div>💾 N/A</div>
                {% endif %}

                {% if '⚙️' in title %}
                <div>⚙️{{ title.split('⚙️')[1].strip() }}</div>
                {% else %}
                <div>⚙️ N/A</div>
                {% endif %}

                <div class="infohash"><b>InfoHash:</b>
                    <p>{{ stream.get('infoHash', 'N/A') }}</p>
                </div>
                {% if stream.magnet_link %}
                <div class="options">
                    <a href="{{ stream.magnet_link }}">
                        <button>🧲 Magnet Link</button>
                    </a>
                    <button data-original-text="📋 Copy Magnet Link"
                        onclick="copyMagnet('{{ stream.magnet_link }}', this)" class="magnet-button">📋 Copy Magnet
                        Link</button>
                    {% if is_series %}
                    <button data-original-text="🚀 Send to qBittorrent"
                        onclick="sendToQB('{{ stream.magnet_link }}', '{{is_series}}', '{{ season }}', '{{ item_title }}', '{{ imdb_id }}', this)">🚀
                        Send to
                        qBittorrent</button>
                    {% else %}
                    <button data-original-text="🚀 Send to qBittorrent"
                        onclick="sendToQB('{{ stream.magnet_link }}', '{{is_series}}', null, null, '{{ imdb_id }}', this)">🚀
                        Send to
                        qBittorrent</button>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No streams available.</p>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>